
<nav class="navbar navbar-expand-lg navbar-light bg-light"><a href="#" class="navbar-brand">Navbar</a>
  <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
  <div id="navbarSupportedContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a href="index.html" class="nav-link"></a>首頁</li>
      <li class="nav-item active"><a href="list.html" class="nav-link"></a>文件列表</li>
    </ul>
    <form class="form-inline my-2 my-lg-0"></form>
    <input type="search" placeholder="Search" aria-label="Search" class="form-control mr-sm-2"/>
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
  </div>
</nav>